:root {
  --clr-white: #fff;
  --clr-red: #e63e3e;
  --clr-black: #24292f;
  --clr-blue: #1b45c8;
  --clr-background: #2a5efd;
  --box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--clr-white);
  height: 100vh;
}

img {
  width: 100%;
}

.hero {
  height: 90vh;
  background: var(--clr-background);
  position: relative;
}

.hero-img-container {
  max-width: 1248px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: url("./svg/Hero.svg") center/cover no-repeat;
  border-radius: 45px;
  z-index: 1;
}

.call-to-action {
  display: flex;
  height: 100%;
  position: relative;
}

.laptop-girl-container {
  position: absolute;
  bottom: -10%;
  left: -2%;
  max-width: px;
}

.text-container {
  position: absolute;
  max-width: 700px;
  top: 15%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-text {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4.5rem;
  margin-bottom: 0.5em;
}

.main {
  color: var(--clr-black);
  margin-top: 9em;
  text-align: center;
}

.btn {
  cursor: pointer;
  color: var(--clr-blue);
  background: white;
  padding: 0.2em 1.1em;
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 800;
  display: flex;
  align-items: center;
  /* font-weight: 800; */
  border: none;
  border-radius: 15px;
  letter-spacing: -1px;
  transition: color 200ms ease-in, background 200ms ease-in-out;
}

.btn:hover {
  background: var(--clr-red);
  color: var(--clr-white);
}
